<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lottery.dao.product.img.ProductImgDao" >
	
	<!-- 查询商品封面 -->
	<select id="getProductImgList" resultType="ProductImg">
		SELECT
		pi.id,
		(
			SELECT
				p.product_name
			FROM
				tl_product p
			WHERE
				p.id = pi.product_id
		) productName,
		pi.product_img productImg,
		pi.state,
		pi.create_at createAt,
		pi.create_user createUser,
		pi.update_at updateAt,
		pi.update_user updateUser
	FROM
		tl_product_img pi
		<where>
			<if test="productId !=null">
				pi.product_id = #{productId}
			</if>
			<if test="state !=null">
				AND pi.state = #{state}
			</if>
			<if test="(startTime !=null and startTime !='') or (endTime !=null and endTime !='')">
				AND pi.create_at BETWEEN #{startTime} AND #{endTime} 
			</if>
		</where>
	</select>
	
	<!-- 更新封面信息 -->
	<update id="updateProductImg" parameterType="ProductImg">
		UPDATE tl_product_img 
		<set>
			<if test="productId !=null">
				product_id = #{productId},
			</if>
			<if test="productImg !=null and productImg !=''">
				product_img = #{productImg},
			</if>
			<if test="state != null">
				state = #{state},
			</if>
			<if test="updateAt !=null">
				update_at = #{updateAt},
			</if>
			<if test="updateUser != null and updateUser != ''">
				update_user = #{updateUser},
			</if>
		</set>
	</update>
</mapper>