<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lottery.dao.product.ProductDao" >
	
	<!-- 添加商品 -->
	<insert id="saveProduct" parameterType="Product" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tl_product
		<trim prefix="(" suffixOverrides="," suffix=")">
			<if test="productName !=null and productName !=''">
				product_name,
			</if>
			<if test="productDesc !=null and productDesc !=''">
				product_desc,
			</if>
			<if test="productPrice != null and productPrice !=''">
				product_price,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
			<if test="createUser != null and createUser !=''">
				create_user,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="updateAt !=null">
				update_at,
			</if>
			<if test="updateUser !=null and updateUser !=''">
				update_user,
			</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			<if test="productName !=null and productName != ''">
				#{productName},
			</if>
			<if test="productDesc !=null and productDesc !=''">
				#{productDesc},
			</if>
			<if test="productPrice != null and productPrice !=''">
				#{productPrice},
			</if>
			<if test="createAt != null">
				NOW(),
			</if>
			<if test="createUser != null and createUser !=''">
				#{createUser},
			</if>
			<if test="state != null">
				#{state},
			</if>
			<if test="updateAt !=null">
				#{updateAt},
			</if>
			<if test="updateUser !=null and updateUser !=''">
				#{updateUser},
			</if>
		</trim> 
	</insert>
	
	<!-- 保存商品封面 -->
	<insert id="saveProductImg" parameterType="Map" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tl_product_img
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productId !=null and productId !=''">
				product_id,
			</if>
			<if test="productImg !=null and productImg !=''">
				product_img,
			</if>
			<if test="createAt !=null">
				create_at,
			</if>
			<if test="state !=null">
				state,
			</if>
			<if test="createUser !=null and createUser !=''">
				create_user,
			</if>
			<if test="updateAt !=null">
				update_at,
			</if>
			<if test="updateUser !=null and updateUser !=''">
				update_user,
			</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			<if test="productId !=null and productId !=''">
				#{productId},
			</if>
			<if test="productImg !=null and productImg !=''">
				#{productImg},
			</if>
			<if test="createAt !=null">
				NOW(),
			</if>
			<if test="state !=null">
				#{state},
			</if>
			<if test="createUser !=null and createUser !=''">
				#{createUser},
			</if>
			<if test="updateAt !=null">
				#{updateAt},
			</if>
			<if test="updateUser !=null and updateUser !=''">
				#{updateUser},
			</if>
		</trim>
	</insert>
	
	<!-- 添加商品图片列表 -->
	<insert id="saveProductImgList" parameterType="String" useGeneratedKeys="true">
		INSERT INTO tl_img_collection(product_id,img_url,state,create_at) VALUES
			<foreach collection="productImgList" item="item" index="index" separator=",">
				(#{productId},#{item},1,NOW())
			</foreach>
	</insert>
	
	<!-- 查询商品信息 -->
	<select id="getProduct" resultType="Product">
		SELECT tlp.id, tlp.product_name productName,tlp.product_price productPrice,(SELECT tpi.product_img FROM tl_product_img tpi WHERE tpi.product_id = tlp.id AND tpi.state = 1) productImg,tlp.create_at createAt FROM tl_product tlp
		<where>
			<if test="productName !=null and productName !=''">
				tlp.product_name LIKE CONCAT('%','${productName}','%')
			</if>
			<if test="state !=null">
				AND tlp.state = #{state}
			</if>
			<if test="createAt !=null and createAt !=''">
				AND DATE_FORMAT(tlp.create_at,'%Y-%m-%d') = #{createAt}
			</if>
		</where>
	</select>
	
	<!-- 修改商品基本信息 -->
	<update id="updateProduct" parameterType="Product">
		UPDATE tl_product 
		<set>
			<if test="productName != null and productName != ''">
				product_name = #{productName},
			</if>
			<if test="productDesc !=null and productDesc !=''">
				product_desc = #{productDesc},
			</if>
			<if test="productPrice !=null and productPrice !=''">
				product_price = #{productPrice},
			</if>
			<if test="state !=null">
				state = #{state},
			</if>
			<if test="updateAt ==null and updateAt ==''">
				update_at = NOW(),
			</if>
			<if test="updateUser !=null and updateUser !=''">
				update_user = #{updateUser},
			</if>
		</set>
		<where>
			id = #{id}
		</where>
	</update>
	
	<!-- 保存商品到列表 -->
	<insert id="saveProductF" parameterType="ProductF" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tl_product_f
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productId != null">
				product_id,
			</if>
			<if test="categoryCode != null and categoryCode != ''">
				category_code,
			</if>
			<if test="typeCode != null and typeCode !=''">
				type_code,
			</if>
			<if test="isHot != null">
				is_hot,
			</if>
			<if test="isNew != null">
				is_new,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="createAt != null">
				create_at,
			</if>
			<if test="createUser != null and createUser !=''">
				create_user,
			</if>
			<if test="updateAt != null">
				update_at,
			</if>
			<if test="updateUser != null and updateUser != ''">
				update_user,
			</if>
		</trim>
		<trim prefix="VALUES(" suffix=")" suffixOverrides=",">
			<if test="productId != null">
				#{productId},
			</if>
			<if test="categoryCode != null and categoryCode != ''">
				#{categoryCode},
			</if>
			<if test="typeCode != null and typeCode !=''">
				#{typeCode},
			</if>
			<if test="isHot != null">
				#{isHot},
			</if>
			<if test="isNew != null">
				#{isNew},
			</if>
			<if test="state != null">
				#{state},
			</if>
			<if test="createAt != null">
				#{createAt},
			</if>
			<if test="createUser != null and createUser !=''">
				#{createUser},
			</if>
			<if test="updateAt != null">
				#{updateAt},
			</if>
			<if test="updateUser != null and updateUser != ''">
				#{updateUser},
			</if>
		</trim>
	</insert>
</mapper>